@import url("/css/root.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  background: white;
}

/* ============= Navbar 1 ============= */

header .container-fluid {
  background: var(--bg-);
  width: 100%;
  padding: 1rem;
}

header .nav-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Box 1 */

header .nav-1 .box-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--font-rob-);
  margin-left: 20px;
  width: 30rem;
}

.nav-1 .box-1 > .item-1 > i,
.item-2 > i {
  color: #364f6b;
}

/* Box 2 */

header .nav-1 .box-2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: var(--font-rob-);
  margin-right: 1.2rem;
}

.nav-1 .box-2 .item-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 8.4rem;
}

.nav-1 .box-2 .item-1 .link > a {
  color: #364f6b;
}

.nav-1 .box-2 .item-1 .link > a:hover {
  color: #3fc1c9;
}

/* ============= Navbar 1 =============  */

/* ============= Navbar 2 ============= */

header .bg-blue,
.navbar {
  background: var(--bg1-);
}

header #navbar-brand {
  width: 5rem;
  margin-left: 2rem;
}

header .navbar .navbar-nav .nav-link {
  color: white;
  margin-left: 10px;
  font-family: var(--font-rob-);
  font-size: 1.2rem;
}

header .navbar .navbar-nav .nav-link:hover {
  color: rgb(98, 231, 255);
}

.dropdown-item:hover {
  color: white;
  background-color: #29a5da;
  transition: all 0.3s ease;
}

.btn-danger {
  width: 55%;
}

/* ============= Navbar 2 ============= */

/* ============= Section 1 ============= */

.section-1 .container-fluid {
  width: 100%;
  height: 30rem;
  background: url("/img/bg-overview.jpg") no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-1 .container-fluid .background::after {
  content: "";
  position: absolute;
  background-color: rgb(0, 0, 0, 0.7);
  height: 30rem;
  width: 100%;
  z-index: 0;
  top: 0;
  left: 0;
}

.section-1 .container-fluid .text {
  color: white;
  text-align: center;
  z-index: 3;
}

.section-1 .container-fluid .text .heading {
  font-family: var(--font-rob-);
}

.section-1 .container-fluid .text .sub-heading {
  font-family: var(--font-pop-);
}

/* ============= Section 1 ============= */

/* ============= Section 2 ============= */

.section-2 {
  margin-top: 11rem;
  margin-bottom: 11rem;
  font-family: var(--font-pop-);
}

.section-2 h1 {
  font-family: var(--font-rob-);
  font-weight: var(--font-b3-);
  position: relative;
}

.section-2 h1::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 6px;
  background: #295c72;
  top: 160%;
  left: 1.5%;
}


/* ============= Section 2 ============= */

/* ============= Footer ============= */

footer {
  background-color: #1f363f;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .wrapper-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 0.5px solid white;
  padding-bottom: 2em;
}

footer .wrapper-1 .box > h5 {
  font-family: var(--font-pop-);
  font-weight: var(--font-b3-);
}

footer .wrapper-1 .box-1 img {
  width: 7rem;
}

footer .wrapper-1 .box-2 {
  margin-top: 5.5rem;
}

footer .wrapper-1 .box-2 .paragraf {
  display: flex;
  flex-direction: column;
}

footer .wrapper-1 .box-3 {
  margin-top: 25px;
}

footer .wrapper-1 .box-3 .paragraf,
.box-4 .paragraf {
  display: flex;
  flex-direction: column;
  font-family: var(--font-pop-);
  font-weight: var(--font-b1-);
}

footer .wrapper-1 .box-3 .paragraf > a,
.box-4 .paragraf > a {
  text-decoration: none;
  color: white;
  transition: all 0.2s ease-in-out;
}

footer .wrapper-1 .box-3 .paragraf > a:hover,
.box-4 .paragraf > a:hover {
  color: #29a5da;
}

footer .wrapper-2 {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 0;
  border-bottom: 0.5px solid white;
  padding-bottom: 3em;
}

footer .wrapper-2 .box-1 .paragraf,
.box-2 .paragraf {
  font-family: var(--font-pop-);
  font-weight: var(--font-b1-);
}

footer .wrapper-2 .box-2 ul li {
  list-style: circle;
  font-family: var(--font-pop-);
  font-weight: var(--font-b1-);
}

footer .wrapper-2 .box > h5 {
  font-family: var(--font-pop-);
  font-weight: var(--font-b3-);
}


@media (max-width: 768px) {
  
  .section-2 .row .heading {
    font-size: 1.2rem;
  }
}

