@media (min-width: 992px){


    /* ============= Section 2 ============= */

    /* Colums img */

    #section-2 .colums-img .img {
        transform: translateX(20px);
    }


    /* ============= Section 3 ============= */

    /* Colums Img */

    #section-3 .colums-img .img {
        right: 6%;
      }

    #section-3 .colums-img .img > img {
        width: 23rem;
      }
      
      #section-3 .colums-img .img::before {
        width: 360px;
      }
      


}

@media (max-width: 1250px) {

        /* ============= Section 2 ============= */

    /* Colums img */

    #section-2 .colums-img .img {
        transform: translateX(20px);
    }


    /* ============= Section 3 ============= */

    /* Colums Img */

    #section-3 .colums-img .img {
        right: 6%;
      }

    #section-3 .colums-img .img > img {
        width: 23rem;
      }
      
      #section-3 .colums-img .img::before {
        width: 360px;
      }
      
}